<% include ../partials/header %>
<div class="container">
        <h class="display-3">Midterm</h>
    <div class="jumbotron">
        <h1 class="display-3">Laptops Database</h1>
        <p class="lead">by Sulakkana Rodkuen</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Les's get started</a>
        </p>
    </div>

    </div>
 <% include ../partials/footer %> 